@*
    // Displays Data of PositionRow.
    // Parent: PositionListDetails.cshtml.
*@

@model PositionViewModel?

<div class="positionListRowWrapper">
    <div class="positionListRowContent">
        @if (Model is { Artikel: not null, Position: not null })
        {
            <div>@Model.Artikel.Artikelnummer</div>
            <div>@Model.Artikel.Bezeichnung1</div>
            <div>@Model.Artikel.Bezeichnung2</div>
            <div>@Html.DisplayFor(modelItem => (@Model.Artikel.Preis), "FormatCurrency")</div>
            <div>@Model.Position.Menge</div>
            <div>@Model.Artikel.Verpackungseinheit</div>
            <div>@Html.DisplayFor(modelItem => (@Model.Position.SummePosition), "FormatCurrency")</div>
        }
    </div>
</div>