@model AssignmentViewModel

<div class="grid">
    <div class="row">
        <div>
            @Model?.Auftrag?.PK_Auftrag
            adresse Oben Links
        </div>
        <div>
            gesellschafter Oben Rechts
        </div>
    </div>
    <div class="row">
        @foreach (var position in Model!.PositionenVM!)
        {
            <p>@position.Artikel.Artikelnummer
            @position.Artikel.Bezeichnung1
            @position.Artikel.Bezeichnung2
            @position.Artikel.Verpackungseinheit
            @position.Artikel.Preis
            @position.Position.Menge
            @position.Position.SummePosition</p>
        }
    </div>
    <div class="row">
        Zugabe Unten
    </div>
    <div class="row">
        Hinweis Ganz Unten
    </div>
</div>