@model Kunde

<span data-name="shareholderFK" data-fk_shareholder="@Model.FK_Gesellschafter"></span>
<div>
    <label>Kd.-Nr.</label>
    <span>@Model.Kundennummer</span>
</div>
<div>
    <label>Vorname</label>
    <span>@Model.Vorname</span>
</div>
<div>
    <label>Nachname</label>
    <span>@Model.Nachname</span>
</div>
<div>
    <label>Firma</label>
    <span>@Model.Firma</span>
</div>
<div>
    <label>Tel.</label>
    <span>@Model.Telefon</span>
</div>
<div>
    <span></span>
</div>
<div>
    <label>Straße</label>
    <span>@Model.Strasse</span>
</div>
<div>
    <label>PLZ</label>
    <span>@Model.Postleitzahl</span>
</div>
<div>
    <label>Ort</label>
    <span>@Model.Ort</span>
</div>
<div>
    <span></span>
</div>
<div>
    @Html.DisplayFor(modelItem => (@Model.IstWerkstatt), "IntTobooleanCheckbox") Werkstatt
</div>
<div>
    @Html.DisplayFor(modelItem => (@Model.IstHandel), "IntTobooleanCheckbox") Handel
</div>