@model List<Artikel>

<div id="searchTable">
    <div class="headerListWrapper">
        <div class="gridListContentContainer gridListContent7">
            <div>Art. Nr.</div>
            <div>Bezeichnung</div>
            <div>Zusatzbezeichnung</div>
            <div>Einzelpreis Netto</div>
            <div>Verpackungseinheit</div>
        </div>
    </div>
    <div style="overflow:auto;">
        <div class="gridContainer" id="resultTblBody">
            @foreach (var item in Model)
            {
                <a class="gridListContentContainer gridListContentSearchResult"
                   onMouseOut="this.style.color='#000'"
                   onMouseOver="this.style.color='#165b9e'"
                   onclick="searchResultSelected(@item.PK_Artikel.ToString(), 'selectedArticle')">
                    <div>@item.Artikelnummer</div>
                    <div>@item.Bezeichnung1</div>
                    <div>@item.Bezeichnung2</div>
                    <div>@Html.DisplayFor(modelItem => (item.Preis), "FormatCurrency")</div>
                    <div>@item.Verpackungseinheit</div>
                </a>
            }
        </div>
    </div>
</div>
